#body {
    margin: 0;
    padding: 1rem 0rem;
    background-color:rgb(240,240,240);
    pointer-events: none;
}

#centerDesign {
    background-color:rgb(240,240,240);
    padding: 4rem 0.5rem 2rem 0.5rem;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

#design {
    background-image: linear-gradient(to right bottom, rgb(250,0,0), rgb(240,0,0), rgb(220,0,0));
    display: flex;
    flex-direction: column;
    width: 26rem;
    height: auto;
    padding: 3rem 0.5rem 0.5rem 0.5rem;
    border: 1px solid rgb(220,0,0);
    border-radius: 10px;
    box-shadow: 0.1rem 0.1rem 0.2rem black;
}

#container {
    align-self: center;
    background-color: white;
    width: 20rem;
    height: 20rem;
    display: grid;
    justify-content: center;
    align-items: stretch;
    border: 1px solid rgba(50,50,50,1);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: -0.1rem -0.1rem 0.2rem rgba(50,50,50,1);
}

.pixel {
    background-color: white;
    pointer-events: all;
}

#centerButtons {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

#circles {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

#leftCircle, #rightCircle {
    width: 4rem;
    height: 4rem;
    background-color: white;
    border: 1px solid gray;
    border-radius: 50%;
    box-shadow: 0.1rem 0.1rem 0.25rem;
}

#etchasketch {
    font-family: 'Yellowtail', cursive;
    font-size: 2rem;
    align-self: center;
    background-color: transparent;
    color: rgb(255,223,0);
    text-shadow: 1px 1px black;
}

#color {
    margin: 0.5rem;
    pointer-events: all;
}

#gridSize {
    pointer-events: all;
}

label {
    font-family: Verdana, Tahoma, sans-serif;
    margin-bottom: 1rem;;
}

@media only screen and (max-width: 400px) {
    #design {
        width: 20rem;
    }

    #container {
        width: 14rem;
        height: 14rem;
    }

    #etchasketch {
        font-size: 1.25rem;
    }
}